<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send File</title>
</head>
<body>
    <img src="{{ url_for('static', filename='imgs/loading.gif') }}" id="loading">
    <form method="POST" id="form" enctype="multipart/form-data">
        <div class="box">
            <h2>Upload Your Image</h2>
            <div class="inside" id="in">
                <img src="{{ url_for('static', filename='imgs/img.png') }}" alt="Upload">
                <h3>Drag & Drop <br> or Browse</h3>
                <br>
                <p>Support JPEG, JPG, PNG</p>
                <p id="file"></p>
                <input type="file" name="fileElem" id="fileElem" accept="image/*">
            </div>
        </div>
        <div class="sub" onclick="upload()">
            <h2>Submit</h2>
        </div>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>